
// @define
$header-height: 50px;
$title-height:  80px;
$main-height:   480px;
$main-child-height: 479px;

$widget-width:   400px;
$settings-width: 300px;

$main-margin-right: 20px;
$main-width: calc(($widget-width * 2) + $settings-width + ($main-margin-right * 2));


// ----- init ----- //
p  { margin: 0; }
hr { margin: 0; }
a, a:visited { color: #0071d1; }

h1, h2, h3 ,h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #393939;
}

.border {
    border: 1px solid lightgray;
    outline: none;
}

.root {
    max-width: $main-width;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}


// ----- header ----- //
$logosize: 25px; // @define
$avatarsize: 30px; // @define

.header {
    // -- display
    display: flex;
    align-items: center;
    justify-content: flex-end;

    // -- decoration
    height: $header-height;
    font-size: small;
    p { margin: 0 5px; }

    .logo {
        margin-right: auto;
        height: $logosize;
    }

    .avatar {
        border-radius: 50%;
        height: $avatarsize;
    }
}


// ----- main ----- //
$widget-width-with-margin: calc($widget-width + $main-margin-right); // @define

.main {
    // -- display
    display: grid;
    grid-template-columns: $widget-width-with-margin $widget-width-with-margin $settings-width;

    .livechat { grid-column: 1; grid-row: 1; }
    .eval     { grid-column: 2; grid-row: 1; }
    .settings { grid-column: 3; grid-row: 1; }

    // -- decoration
    height: $main-height;
    width:  $main-width;
}


// ----- widget ----- //
.widget {
    height: $main-child-height;
    width:  $widget-width;
    margin-right: $main-margin-right;
}


// ----- settings ----- //
.settings {
    height: $main-child-height;
    width:  $settings-width;

    hr { margin: 10px 0; }
    .float { float: left; }
    #userkey { float: right; }

    input {
        margin: 5px 0;
        &.url { width: calc($settings-width - 8px); }
        &.key { width: calc(150px - 8px); margin: 0 3px;}
    }

    .caution {
        margin-bottom: 10px;
        font-size: smaller;
        color: #777777;
    }

}
