
// @define
$header-height: 50px;
$title-height:  80px;
$main-height:   480px;
$main-child-height: 479px;

$widget-width:   400px;
$settings-width: 300px;

$main-margin-right: 20px;
$main-width: calc(($widget-width * 2) + $settings-width + ($main-margin-right * 2));

$default-font-color: #393939;


// ----- init ----- //
p  { margin: 0; }
hr { margin: 0; }

a, a:visited { color: #0071d1; }
p { color: $default-font-color; }

h1, h2, h3 ,h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: $default-font-color;
}

hr {
    background-color: lightgray;
    border: none;
    height: 1px;
}

.border {
    border: 1px solid lightgray;
    border-radius: 8px;
}

.root {
    max-width: $main-width;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}


// ----- header ----- //
$logosize: 25px; // @define
$avatarsize: 30px; // @define

.header {
    // -- display
    display: flex;
    align-items: center;
    justify-content: flex-end;

    // -- decoration
    height: $header-height;
    font-size: small;
    p { margin: 0 5px; }

    .logo {
        margin-right: auto;
        height: $logosize;
    }

    .avatar {
        border-radius: 50%;
        height: $avatarsize;
    }
}


// ----- main ----- //
$widget-width-with-margin: calc($widget-width + $main-margin-right); // @define

.main {
    // -- display
    display: grid;
    grid-template-columns: $widget-width-with-margin $widget-width-with-margin $settings-width;

    .livechat { grid-column: 1; grid-row: 1; }
    .eval     { grid-column: 2; grid-row: 1; }
    .settings { grid-column: 3; grid-row: 1; }

    // -- decoration
    height: $main-height;
    width:  $main-width;
}


// ----- widget ----- //
.widget {
    height: $main-child-height;
    width:  $widget-width;
    margin-right: $main-margin-right;
}


// ----- settings ----- //
$settings-padding: 15px; // @define

.settings {
    // -- display
    .flex {
        display: flex;
        align-items: center;
    }

    // -- decoration
    padding: $settings-padding;
    height: calc($main-child-height - $settings-padding*2 + 2px);
    width:  calc($settings-width - $settings-padding*2);

    background-color: #faf9f6;
    border-radius: 10px;

    hr { margin: 10px 0; }
    input[type='button'] { margin-bottom: 10px; }

    p {
        margin-bottom: 10px;
        font-size: smaller;
        color: #777777;
    }
    .title, button {
        font-weight: bold;
        font-size: smaller;
        color: #6c6b6b;
    }
    .icon {
        margin-right: 7px;
        padding: 0;
        font-size: medium;
        color: #6c6b6b;
    }
}
