
// @define
$avatarsize: 24px;


// ----- livechat ----- //
p { font-size: 0.9em; }

#log {
    font-family: Arial, Helvetica, sans-serif;

    .chat {
        // -- display
        display: grid;
        grid-template-columns: $avatarsize 1fr;
        grid-template-rows:    min-content;

        .avatar         { grid-column: 1; grid-row: 1; }
        .displaymessage { grid-column: 2; grid-row: 1; }

        // -- decoration
        margin: 10px 15px;
        p { margin: auto 10px; }

        .displayname { color: #777777; }
        .moderator{ color : #107516; }
        .avatar {
            border-radius: 50%;
            height: $avatarsize;
            vertical-align: middle;
        }
    }

}
